 /*
* 
* @author Jamilton Damasceno
*/

html, body, #home{
    height: 100%; 
}

body{
    background: url(../imagens/capa.png), 
    url(../imagens/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
    font-family: Arial, Helvetica, sans-serif;  
    background-attachment: fixed; /* deixa a imagem FIXA */    
}

nav.navbar-transparente{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #9df0e1;
}

.navbar-light .navbar-toggler{
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.capa{
    text-align: center;
}

h1{
    color: white;
    font-weight: 900;
    letter-spacing: 4;
    margin-bottom: 50px;
    font-size: 30px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) { 
    
 }

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-widht: 767.98px) { 
    h1{
        font-size: 3em;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-widht: 991.98px) { 
    h1{
        font-size: 4em;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px)and (max-widht: 1199.98px) { 
    h1{
        font-size: 5em;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }